body{
    background-color: gray;
}

#submit, #searchInput, #searchImage, #searchVideo, #searchBySpeech{
    height: 65px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    
}